.IBlkBar {
	position: fixed;
	width: 4.6cm;
	min-width: 4.6cm;
	max-width: 100%;
	padding: 0.2cm;
	height: 100%;
	font-family: 'Consolas', 'Ubuntu Mono', Menlo, Monaco, 'Courier New', monospace;
	user-select: none;
	box-shadow: 4px 0px 6px #333333;
}

.IBlk {
	font-size: 0.8cm;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	box-shadow: 4px 4px 3px #000000;
	background: #ffffff;
}

.IBlk:hover {
	transform: translateX(1px) translateY(1px);
	box-shadow: 3px 3px 3px #000000;
}

.IBlk:active {
	transform: translateX(3px) translateY(3px);
	box-shadow: 1px 1px 3px #000000;
}

.IBlkNofloat {
	transform: translateX(3px) translateY(3px);
	box-shadow: 1px 1px 3px #000000;
}

.IBlkNofloat:hover {
	transform: translateX(3px) translateY(3px);
	box-shadow: 1px 1px 3px #000000;
}

.IBlkNofloat:active {
	transform: translateX(3px) translateY(3px);
	box-shadow: 1px 1px 3px #000000;
}

.IBlkSdw {
	position: absolute;
	top: 0.2cm;
	left: 0.2cm;
	right: 0;
	bottom: 0.2cm;
	transform: translateX(4px) translateY(4px);
	background: rgba(0, 0, 0, 0.5);
}

.IBlkOut {
	display: inline-block;
	padding: 0.2cm;
	padding-right: 0cm;
}