@import url(iblk.css);
@import url(iinp.css);
@import url(iexpr.css);

* {
	padding: 0;
	margin: 0;
	position: relative;
	font-family: 'Consolas', 'Ubuntu Mono', Menlo, Monaco, 'Courier New', monospace;
}

textarea {
	background: rgba(0, 0, 0, 0);
}

[name=BMove] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 0.3cm;
	background: rgba(0, 0, 0, 0.1);
	transition: 500ms;
	cursor: w-resize;
}

[name=BMove]:hover {
	background: rgba(0, 0, 0, 0.2);
	transition: 100ms;
}

#IOpeBar {
	background: #33ffcc;
	z-index: 9;
}

#IValBar {
	background: #cccc99;
	left: 5cm;
	z-index: 0;
}

#IValWidth {
	font-size: 0.5cm;
	width: 4em;
}

.IOpeReset {
	background: #ffffff;
	position: absolute;
	bottom: 1.6cm;
	left: 0.4cm;
	padding: 0.1cm;
}

#IAddOpe,
#IAddVal {
	display: none;
}

div+#IAddOpe,
div+#IAddVal {
	display: block;
}

.redSp {
	background: #ff0000;
	color: #ffffff;
}